<div class="card">
  <%= link_to image_tag(prototype.image, class: 'card__image'), prototype_path(prototype) %>
  <div class="card__body">
    <div class="card__title">
    <%= link_to prototype.title, prototype_path(prototype) %>
      
    </div>
    <p class="card__summary">
      <%= prototype.catch_copy %>
    </p>
    <div class="clacard__user" >

      <a>by</a><%= link_to prototype.user.name, user_path(prototype.user) %>
    </div>  
  </div>
</div>